<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>Auto Complete</title>
</head>
<body>
    <nav class="main_nav">
        <ul class="nav_items">
            <div class="logo nav_item">
                WORD FLOW
            </div>
            <div class="nav_links">
                <li class="nav_item"><a href="https://github.com/yuyi-hao/wordflow">Github link</a></li>
                <li class="nav_item">about</li>
            </div>
        </ul>
    </nav>


    <div class="main_textfield">
        <img id="display_image" src="static/images/resting.gif">
        <input type="text" id="autocomplete-input" maxlength="50" minlength="30" placeholder="Start Typing...">
        <ul id="autocomplete-results"></ul>
    </div>    

    <script src="{{ url_for('static', filename='js/app.js') }}">
    </script>
    
</body>
</html>